alias aliases="cursor ~/.bash_aliases"
alias src="source ~/.zshrc"
alias hrd="cd ~/Herd"

# laravel
alias ln="laravel new "
alias migrate="php artisan migrate"
alias path="php artisan migrate --path= "
alias rollback="php artisan migrate:rollback"
alias fresh="php artisan migrate:fresh"
alias fseed="php artisan migrate:fresh --seed"
alias mseed="php artisan migrate --seed"
alias seed="php artisan db:seed"
alias cseed="php artisan db:seed --class= "
alias controller="php artisan make:controller "
alias model="php artisan make:model "
alias migration="php artisan make:migration "
alias pa="php artisan "
alias pads="php artisan db:seed "
alias paoc="php artisan optimize:clear"
alias page="php artisan make:filament-page "
alias panel="php artisan make:filament-panel  "
alias pao="php artisan optimize"
alias pami="php artisan make:migration "
alias resource="php artisan make:resource "
alias request="php artisan make:request "
alias tests="php artisan test"
alias seeder="php artisan make:seeder "
alias test="php artisan make:test "
alias factory="php artisan make:factory "
alias fresource="php artisan make:filament-resource "
alias widget="php artisan make:filament-widget "
alias relation="php artisan make:filament-relation-manager "
alias entry="php artisan make:infolist-entry  "
alias livewire="php artisan make:livewire "
alias importer="php artisan make:filament-importer "
alias exporter="php artisan make:filament-exporter "
alias cluster="php artisan make:filament-cluster "
alias permissions="php artisan permissions:sync"
alias key="php artisan key:generate"
alias rule="php artisan make:rule"
alias observer="php artisan make:observer"
alias queue="pa queue:work"
alias job="pa make:job"
alias enum="pa make:enum "
alias mail="pa make:mail "
alias cast="pa make:cast "
alias tinker="pa tinker"
alias pint="./vendor/bin/pint "
alias user="pa make:filament-user"
alias stubs="pa stub:publish"
alias component="pa make:component "
alias env="cp .env.example .env"
alias envlocal="cp .env.example .env.local"
alias routes="pa route:list"
alias scope="pa make:scope"
alias volt="pa make:volt"
alias blade="pa make:view"
alias api="php artisan install:api"
alias trait="php artisan make:trait "
alias publish="php artisan vendor:publish"
alias theme="php artisan make:filament-theme"
alias build="pa blueprint:build"
alias erase="pa blueprint:erase"
alias run="pa blueprint:run"
alias new="pa blueprint:new"
alias stubs="pa blueprint:stubs"
alias reverb="pa reverb:start"
alias storage="pa storage:link"
alias plugin="pa filament-plugins:generate"
alias dump="composer dump-autoload"
alias 'plugin.model'="php artisan filament-plugins:model"
alias 'plugin.resource'="php artisan filament-plugins:resource"
alias 'plugin.page'="php artisan filament-plugins:page"
alias 'plugin.widget'="php artisan filament-plugins:widget"
alias 'plugin.list'="php artisan filament-plugins:list"

# composer
alias require="composer require "
alias remove="composer remove "
alias crd="composer run dev "
alias ci="composer install"
alias cu="composer update"
alias cgu="composer global update"
alias sluggable="composer require spatie/laravel-sluggable"

# npm
alias nrd="npm run dev"
alias nrb="npm run build"
alias ni="npm install"

# Git
alias pull="git pull"
alias push="git push"
alias merge="git merge "
alias add="git add "
alias commit="git commit -m "
alias gs="git status"
alias clone="git clone "
alias gl="git log"
alias checkout="git checkout "
alias branch="git branch "
alias soft-reset="git reset --soft HEAD~1"
alias 'user.name'="git config user.name "
alias 'user.email'="git config user.email "

# projects
alias erp="cursor ~/Herd/erp"
alias liquor="cursor ~/Herd/liquor-store"
alias blog="cursor ~/Herd/larablog"
alias dkf="cursor ~/Herd/dkf-admin"
alias lms="cursor ~/Herd/edtech"
alias drones="cursor ~/Herd/drones"
alias book="cursor ~/Herd/larabook"
alias res="cursor ~/Herd/reservation"
alias inv="cursor ~/Herd/inventory"

# HTB
alias htb="openvpn ~/Downloads/htb/lab_ndachi_htb.ovpn"
alias acad="sudo openvpn ~/Downloads/htb/aws/academy-regular.ovpn"

# Packages
alias debugbar="composer require barryvdh/laravel-debugbar --dev"

# AWS
alias connect-aws-demo="ssh -i ~/.ssh/demo.cer ubuntu@aws-demo"
alias connect-erp="ssh -i ~/.ssh/erp.cer ubuntu@erp-aws"
alias eth="ssh -i ~/.ssh/eth.cer 
eth@ec2-18-212-102-233.compute-1.amazonaws.com"

# Python
alias py="python3"
alias pip="pipx"

# Scripts
alias filament="sh ~/Laravel/filament.sh"
alias roles="sh ~/Laravel/roles.sh"
alias curator="sh ~/Laravel/curator.sh"
alias invoices="sh ~/Laravel/invoices.sh"

alias database="mysql -u root -h localhost -P 3306 "
